@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 384px;
  height: 325px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}


.close-btn{
  width: 100%;
  height: 24px;
 button{
  float:right;
   background-color: white;
   border: none;
   color: #7ec543;
   img{
     width: 24px;
     height: 24px;
   }
 }
}

.container-mssage{
  height: 300px;
  div{
    margin: 5px 0px;
    img{
      width: 210px;
      height: 56px;
      margin: 7px 44px 30px 57px;
    }
    h3{
      font-family: 'Montserrat';
      font-weight: bold;
    }
    p{
      text-align: center;
    }
  }
}

#phone-contact{
  color: #7ec543;
}
#alert{
  font-family: 'Roboto Slab';
    font-size: 18px;
  font-weight: bold;
}

