

.conteiner{
  width: 100%;
  height: 1024px;
  background-color:#fbfbfb;
  font-family: 'Montserrat';
}

.container_form{
  display: flex;
  width: 100%;
}

.container_from-leftside{
  width: 50%;
  margin-top: 86px;
  border-right: 1px solid #9797974b;
  padding-left: 260px;
  padding-right: 40px;

  h2{
    font-family: 'Montserrat';
  }

}

.container_form--banner{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  img{
    width: 210px;
    height: 56px;
  }
}

.container_form-nombre{
  width: 328px;
  height: 60px;
  padding: 0px 0 16px 0px;
}

.container_form-nombre-ingreso{

  width: 300px;
  height: 15px;
  margin: 5px 0 5px 0;

  span{
    width: 300px;
    height: 15px;
    margin: 0 258px 31px 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    color: #888888;
  }
}

.container_form-nombre-place{
  input{
    width: 292px;
    height: 10px;
    padding: 15px;
    padding-left: 17px;
    border-radius: 5px;
    border: 1px solid;
    font-family: 'Montserrat';
    &:focus{
      border: 2px solid #7ec543;
      outline: none;
    }
  }
  div{
    small{
      color: rgb(199, 49, 49);
      font-size: 12px;
      font-weight: 500;


    }
  }

}

.container_form-phone-place{
  small{
    color: rgb(199, 49, 49);
    font-size: 12px;
    font-weight: 500;
    font-family: 'Montserrat';

  }

}

.entradas{
  display: flex;
  div{
    p{
      margin: auto;
      padding: 10px;
      border-radius: 5px;
      font-family: 'Montserrat';
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid;
      border-right: none;
      &:focus{
        border: 2px solid #7ec543;
        outline: none;
      }

    }
  }

  input{
    width: 247px;
    height: 10px;
    padding: 15px;
    padding-left: 17px;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid;
    &:focus{
      border: 2px solid #7ec543;
      outline: none;
    }
  }
}

.container_form-cheks{
  display: flex;
  flex-direction: column;
  div{
    margin: 10px 0;

    button{
      width: 328px;
      height: 48px;
      color: white;
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      border-radius: 5px;
      border: 0.5px;
    }

  }

  .container_form-cheks-terms{
    display: flex;

    div{
      small{
        padding: 5px;
        font-family: 'Montserrat';
      }
      input{
        width: 17px;
        height: 17px;
        font-family: 'Montserrat';
      }
    }
  }

  .container_form-cheks-newsletter{
    display: flex;

    div{
      height: 22px;
    }

    label{
      padding-top:10px;
      font-family: 'Montserrat';
    }

    input{
      width: 22px;
      height: 22px;
      font-family: 'Montserrat';
    }
  }

}

//CHECKBOX

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-family: 'Montserrat';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  a{
    color:#7ec543;;
    font-family: 'Montserrat';
  }
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-family: 'Montserrat';
}

.check {
  position: absolute;
  top: 9px;
  left: 0;
  height: 22px;
  width: 23px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.checkbox:hover input ~ .check {
  border: 2px solid #7ec543;
}

.checkbox input:checked ~ .check {
  background-color: #7ec543;
  border:none;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .check:after {
  display: block;
}

.checkbox .check:after {
  left: 9px;
  top: 3px;
  width: 3px;
  height: 9px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//CONTENIDO LADO DERECHO

.container_form-rightside{
  width: 50%;
  margin-top: 86px;
  border-right: 1px solid #9797974b;
  padding-right: 260px;
  padding-left: 40px;

  div{
    display: flex;
    flex-direction: column;

    #btn1{
      width: 328px;
      height: 36px;
      margin: 58px 0 8px 39px;
      padding: 6px 53px 6px 52px;
      border-radius: 7px;
      background-color: #365899;
      color: white;
      font-size: 14px;
      font-weight: 500;
      font-family: 'Montserrat';
    }

    #btn2{
      width: 328px;
      height: 36px;
      margin: 8px 0 16px 39px;
      padding: 6px 62px;
      border-radius: 7px;
      border: solid 1px #888888;
      background-color: #ffffff;
      font-family: 'Montserrat';
    }

    span{
      margin: 10px 0px 0 90px;
      font-family: 'Montserrat';
      a{
        color:#7ec543;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Montserrat';
      }
    }
  }
}










