
<div class="container">
  <div class="container_request">

    <div class="container_request-banner">
      <img src="../../../assets/img/alsuper@3x.png" alt="">
    </div>
    <div class="container_request-main">
      <div class="container_request-main-subtitle">
        <h3>Has solicitado restablecer tu contraseña</h3>
      </div>
      <div class="container_request-main-textbutton">
        <p>Para restablecer su contraseña, haga click en el siguiente link
          y siga las instrucciones.
        </p>
        <button type="button" routerLink="/restpassword"> Restablecer</button>
      </div>
      <div class="container_request-main-sndtext">
        <p>Si no solicitaste restablecer tu contraseña, puede ignorar este
          correo electronico.
        </p>
      </div>
    </div>
    <div class="container_request-footer">
        <p>
          ©2020 Alsuper. Todos los derechos reservados
        </p>
      <div>
        <div><img src="../../../assets/img/fb.png" alt="Facebook"></div>
        <div><img src="../../../assets/img/ig.png" alt="Instagram"></div>
        <div><img src="../../../assets/img/yt.png" alt="YouTube"></div>
      </div>

    </div>

  </div>
</div>
