
//cuerpo
.conteiner{
  width: 100%;
  height: 1024px;
  background-color:#fbfbfb;
}

//main
.container_form{
  display: flex;
  width: 50%;
  margin: auto;
}
//cabecera
.container_form--banner{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  img{
    width: 210px;
    height: 56px;
  }
}

//contenido lado izquierdo
.container_from-leftside{
  width: 50%;
  margin-top: 86px;
  border-right: 1px solid #9797974b;
  padding:50px 50px 50px 49px;


  h2{
    margin-bottom: 0px;
    font-family: 'Montserrat';
  }

}
// correo y pasword
.container_form-nombre{
  width: 328px;
  height: 60px;
  padding: 0px 0 16px 0px;
  font-family: 'Montserrat';
}

.container_form-nombre-ingreso{

  width: 300px;
  height: 15px;
  margin: 5px 0 5px 0;

  span{
    width: 300px;
    height: 15px;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-solid-grey-88);
  }
}

.container_form-nombre-place{
  input{
    width: 292px;
    height: 10px;
    padding: 15px;
    padding-left: 17px;
    border-radius: 5px;
    border: 1px solid;
    font-family: 'Montserrat';
    &:focus{
      border: 2px solid #7ec543;
      outline: none;
    }
  }
  div{
    small{
      color: rgb(199, 49, 49);
      font-size: 12px;
      font-weight: 500;
      font-family: 'Montserrat';
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;

    }
  }

}

.container_form-login{
  display: flex;
  flex-direction: column;
  width: 328px;
  div{
    font-family: 'Montserrat';
      margin: auto;
    button{
      color: white;
      height: 48px;
      border-radius: 5px;
      border: none;
      width: 328px;
      font-family: 'Montserrat';
      margin-top: 32px;
      margin-bottom: 8px;
    }
    a{
      color: #7ec543;
    }
  }
}

//contenido lado derecho - social Media

.container_form-rightside{
  width: 50%;
  margin-top: 86px;
  border-right: 1px solid #9797974b;
  padding:50px;
  border: none;

  div{
    display: flex;
    flex-direction: column;
    width: inherit;

    #btn1{
      width: 328px;
      height: 36px;
      margin: 58px 0 8px 39px;
      padding: 6px 53px 6px 52px;
      border-radius: 7px;
      background-color: #365899;
      font-family: 'Montserrat';
      color: white;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    #btn2{
      width: 328px;
      height: 36px;
      margin: 8px 0 16px 39px;
      padding: 6px 62px;
      border-radius: 7px;
      border: solid 1px var(grey);
      background-color: #ffffff;
      font-family: 'Montserrat';
    }

    span{
      margin: 10px 0px 0 90px;
      font-family: 'Montserrat';
      a{
        color:#7ec543;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        font-family: 'Montserrat';
        letter-spacing: normal;
      }
    }
  }
}

@media screen and (max-width: 1360px) {


  .container_form{

    width: 60%;

  }

  .container_from-leftside{
    padding:50px 0px 50px 25px;
  }

  .container_form-rightside{
    padding:50px 0px 50px 15px;
   }

}
