@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');


//cuerpo
.conteiner{
  width: 100%;
  height: 1024px;
  background-color:#fbfbfb;
}

//main
.container_form{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
//cabecera
.container_form--banner{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  img{
    width: 210px;
    height: 56px;
  }
}

//contenido lado izquierdo
.container_from-leftside{
  width: 30%;
  margin: 86px 0px 50px 100px;
  padding: 0px 0px 0px 200px;

  h2{
    margin-bottom: 0px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
  }

}
// correo y pasword
.container_form-nombre{
  width: 328px;
  height: 60px;
  padding: 0px 0 16px 0px;
  font-family: 'Montserrat';
}

.container_form-nombre-ingreso{

  width: 300px;
  height: 15px;
  margin: 5px 0 5px 0;

  span{
    width: 300px;
    height: 15px;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-solid-grey-88);
  }
}

.container_form-nombre-place{
  input{
    width: 292px;
    height: 10px;
    padding: 15px;
    padding-left: 17px;
    border-radius: 5px;
    border: 1px solid;
    font-family: 'Montserrat';
    &:focus{
      border: 2px solid #7ec543;
      outline: none;
    }
  }
  div{
    small{
      color: rgb(199, 49, 49);
      font-size: 12px;
      font-weight: 500;
      font-family: 'Montserrat';
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;

    }
  }

}

.container_form-login{
  display: flex;
  flex-direction: column;
  width: 328px;
  div{
    font-family: 'Montserrat';
      margin: auto;
    button{
      color: white;
      height: 48px;
      border-radius: 5px;
      border: none;
      width: 328px;
      font-family: 'Montserrat';
      margin-top: 32px;
      margin-bottom: 8px;
    }
    a{
      color: #7ec543;
    }
  }
}

//midline
.container_form-middleline{
  width: 5%;
  margin: 140px 50px 50px 50px;
  div{
    background-color: #9797975f;
    width: 1px;
    height: 227px;
    margin: auto;
  }
}

//contenido lado derecho - social Media

.container_form-rightside{
  width: 30%;
  margin: 86px 100px 50px 0px;
  padding: 0px 200px 0px 0px;


  div{
    display: flex;
    flex-direction: column;

    #btn1{
      width: 328px;
      height: 36px;
      margin: 58px 0 8px 0px;
      padding: 6px 53px 6px 52px;
      border-radius: 7px;
      background-color: #365899;
      font-family: 'Montserrat';
      color: white;
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    #btn2{
      width: 328px;
      height: 36px;
      margin: 8px 0 16px 0px;
      padding: 6px 62px;
      border-radius: 7px;
      border: solid 1px var(grey);
      background-color: #ffffff;
      font-family: 'Montserrat';
    }

    span{
      width: 328px;
      margin-left: 20px;

      font-family: 'Montserrat';
      a{
        color:#7ec543;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        font-family: 'Montserrat';
        letter-spacing: normal;
      }
    }
  }
}
