@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

//cuerpo
.conteiner{
  width: 100%;
  height: 1024px;
  background-color:#fbfbfb;
}

.container_form--banner{
  margin: auto;
  display: flex;
  justify-content: center;
  img{
    width: 210px;
    height: 56px;
  }
}

//main
.container_form{
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
}

.container_form-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_form-inputs-titulo{
  margin-top: 35px;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: bold;
  color: #1c1c1c;
}

.container_form-chpasword{
  margin: auto;

}

.parrafo{
  text-align: center;
  color: #6a6a6a;
  font-family: 'Montserrat';
}



.container_form-email{
  width: 328px;
  padding: 16px 0px;
  margin: 10px auto;
}

.container_form-email-label{
  width: max-content;
  height: 16px;
  font-family: 'Montserrat';
}

.container_form-email-input{
  margin: 5px 0px;
  input{
    width: 301px;
    height: 18px;
    padding: 15px 0px 15px 17px;
    margin: 0;
    border: 1px solid;
    border-radius:  5px;
    font-family: 'Montserrat';
    &:focus{
      border: 2px solid #7ec543;
      outline: none;
    }
   }

}

.container_form-send{
  width: 328px;
  padding: 0px 5px;
  button{
    width: 328px;
    height: 48px;
    border: none;
    border-radius: 7px;
    font-family: 'Montserrat';
    color: white;
    a{
      color: white;
      text-decoration: none;
    }
  }
}

.container_form-login{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
  div{
    margin: auto;
    a{
      color: #7ec543;
      font-family: 'Montserrat';
      font-weight: bold;
    }
  }
}



