
<div class="container">

  <div class="container_form--banner">
   <img src="../../../assets/img/alsuper@3x.png" alt="">
  </div>

  <form class="container_form" >

    <div class="container_form-inputs">

      <div class="container_form-inputs-titulo">
        <h2>Restablecer contraseña</h2>
      </div>

      <div class="container_form-chpasword">

        <div class="container_form-chpasword parrafo">
          <p>Ingresa el correo asociado con tu cuenta Alsuper</p>
        </div>

        <div class="container_form-email">

          <div class="container_form-email-label">
            <small  *ngIf="sendemail.valid" style="color:#888888;">Correo electronico</small>
            <small *ngIf="sendemail.hasError('required') && sendemail.dirty" style="color:#ff5757;">Correo electronico</small>
          </div>
          <div class="container_form-email-input">
            <input type="email"  [formControl]="sendemail" placeholder="Correo electronico*">
          </div>
          <div class="container_form-email-label">
            <small *ngIf="sendemail.hasError('pattern') && sendemail.dirty"
            style="color:#ff5757;">
             Correo no reconocido
           </small>
          </div>

      </div>

        <div class="container_form-send">
          <button type="submit" *ngIf="sendemail.errors"
          style="background-color: #cccccc80">
          Restablecer
          </button>
          <button type="submit" *ngIf="sendemail.valid"
            style="background-color: #7ec543" (click)="restPassword(sendemail.value)">
           Restablecer
          </button>
        </div>

        <div class="container_form-login">
          <div>
            <p>o</p>
          </div>
          <div>
            <a routerLink="/login">Inicia sesión</a>
          </div>
        </div>
      </div>

    </div>

  </form>

</div>
